KAFKA_URL=<Kafka URL>
LIGHTSTEP_ACCESS_TOKEN=<Lightstep Access Token>
SIGNALFX_ACCESS_TOKEN=<SignalFx Access Token>
SIGNALFX_TRACE_AGENT_HOSTNAME=<SignalFx Trace Agent Hostname>
DD_TRACE_AGENT_HOSTNAME=<DataDog Trace Agent Hostname>